body {
    // @include scrollbars(8px, $cor-1, rgb(238, 238, 238));
    overflow: auto;
    height: 100vh;
    width: 100vw;

    transition: opacity 0.3s ease;
    opacity: 1;
    letter-spacing: 0.2px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    background: #fcfffd;
    &.dcl {
        opacity: 1;
    }

    font-family: $font-gotham;

}