/* VARIAVEIS */
:root {

  /* CONTAINER MENU */
  --container-extra-large: 90%;
  --container-large: 90%;
  --container-medium: 768px;
  --container-small: 100%;
  --container-padding: 0 15px;

  /* MENU DESKTOP  ==================*/
  --menu-bg: white;
  --menu-position: fixed;
  --logo-height: 50px;
  --menu-paddingY: 15px;
  --menu-z-index: 100;

  /* LINKS */
  --space-links: 30px;
  --padding-links: 10px;
  --color-links: black;
  --color-links-hover: rgb(255, 177, 177);
  --weight-links: 500;
  --font-links: 16px;

  /* BOTAO */
  --btn-bg: #e7e7e7;
  --btn-bg-hover: red;
  --btn-border: 20px;
  --btn-padding: 10px 50px;
  --btn-color: BLACK;
  --btn-color-hover: white;
  --btn-weight: 700;

  /* DROPDOWN */
  --drop-border: 6px;
  --drop-bg: white;
  --drop-space: 8px;
  --drop-color: black;
  --drop-color-hover: red;
  --drop-width: 100%;

  // /* SCROLL */
  // --logo-height-scrool: 40px;
  // --sombra-menu-ativo: 0px 3px 10px rgba(0, 0, 0, 0.1);
  // --menu-scroll-paddingY: 10px 0;

  /* MENU MOBILE  ==================*/
  --menu-m-bg: white;
  --menu-m-paddingY: 10px 0;
  --menu-m-open-bg: white;
  --menu-m-open-color: black;
  --menu-m-open-size: 16px;

  /* hamburguer */
  --hamburguer-color: black;
  --hamburguer-color-open: black;

  /* dropdown mobile */
  --drop-m-bg: #e7e7e7;
  --drop-m-color: black;

}






.container__menu {
  margin: 0 auto;
  max-width: var(--container-extra-large);
  padding: var(--container-padding);
  width: 100%;
}

/* estilos globais */
.menu {
  transition: box-shadow .3s ease;
  position: var(--menu-position);
  width: 100%;
  z-index: var(--menu-z-index);
  top: 0;
}


/* MENU DESKTOP  =====================================================*/
.menu__desktop {
  background: var(--menu-bg);
  padding: var(--menu-paddingY);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .03);
}

/* logo */
.menu__logo img {
  height: var(--logo-height);
  transition: 0.3s ease-in-out;
  object-fit: contain;
  margin-right: 60px;
}

.menu__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.menu__principal {
  display: flex;
  align-items: center;

}

/* ul links desktop */
.menu__links {
  display: flex;
  align-items: center;
  transition: all .3s ease-in-out;
}

/*a  links  */
.menu__links a {
  font-size: 1.125rem;
  transition: color 0.4s ease;
  font-weight: 500;
  padding: var(--padding-links);
}



.menu__links li+li {
  margin-left: var(--space-links);
}

a.menu__btn {
  display: inline-flex;
  align-items: center;
  background: var(--btn-bg);
  border-radius: var(--btn-border);
  padding: var(--btn-padding);
  color: var(--btn-color);
  font-weight: var(--btn-weight);
  transition: background 0.4s ease;
}

a.menu__btn:hover {
  color: var(--btn-color-hover);
  background-color: var(--btn-bg-hover);

}

/* menu direito*/

.menu__complemento {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .cart__img,
  .user {
    width: 30px;
  }

  .user {
    margin-right: 15px;
  }






}





.menu__buscar {
  position: relative;
  display: flex;
  align-items: center;

  &::after {
    content: "";
    display: block;
    height: 20px;
    width: 2px;
    margin-left: 15px;
    margin-right: 10px;

  }


  input {
    max-width: 300px;
    min-width: 200px;
    padding: 10px 20px;
  }

  ::-webkit-input-placeholder {
    font-size: 0.875rem;
    font-family: $font-raleway;
  }

  .lupa {
    position: absolute;
    right: 20%;

    img {
      width: 20px;
    }
  }
}


/*fim menu direito*/



/* dropdown */
.menu__dropdown {
  position: relative;
  align-items: center;

  a {
    display: inline-grid;
    align-items: center;
    grid-template-columns: 1fr 20px;
    column-gap: 5px;

  }

  ion-icon {
    color: $cor-laranja;
  }


}


#dropdown__content {
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  min-height: 90px;
  background: var(--drop-bg);
  border-radius: var(--drop-border);
  width: var(--drop-width);
  padding: 10px;
  gap: var(--drop-space);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  transition: .3s ease;
  pointer-events: none;
}

#dropdown__content a {
  color: var(--drop-color);

}

#dropdown__content a:hover {}

.menu__dropdown:hover #dropdown__content {
  animation: opacity .3s ease-in-out both;
  pointer-events: all;
}

/* scroll ativo */
.ativo__scroll .menu {
  box-shadow: var(--sombra-menu-ativo);
}



/* MENU MOBILE  ========================================*/
.menu__mobile {
  display: none;
}

/* icone */
.menu__icon-click {
  display: block;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* texto mobile */
.menu__icon-click p {
  margin-right: 5px;
}



.menu__icon .hamburguer {
  margin-left: 5px;
}

.menu__icon .menu__icon-click {
  display: flex;
  margin-left: auto;
  padding: 13px 8px 13px 8px;
  z-index: 20;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  color: currentColor;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  z-index: 999;
}

.menu__icon i {

  display: block;
  background: var(--hamburguer-color);
  width: 24px;
  height: 1px;
  transition: 0.3s ease-in-out;
  position: relative;
}

.menu__icon i:after,
.menu__icon i:before {
  content: "";
  display: block;
  background: var(--hamburguer-color);
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.3s ease-in-out;
}

.menu__icon i:before {
  top: -9px;
  width: 100%;
}

.menu__icon i:after {
  bottom: -8px;
  width: 100%;
}

.menu__open i {
  transform: rotate(45deg);
  background: var(--hamburguer-color-open);
}

.menu__open i:before {
  transform: rotate(90deg);
  top: -1px;
  width: 100%;
  background: var(--hamburguer-color-open);

}

.menu__open i:after {
  transform: rotate(90deg);
  bottom: 1px;
  width: 100%;
  opacity: 0;
  background: var(--hamburguer-color-open);

}

.menu__atalhos {
  display: none;
}

.menu__open .menu__atalhos {
  display: block !important;
}

/* container-atalhos */
.atalhos {
  display: none;
  transform: translateX(100%);
}

/* wrapper mobile */
.menu__mobile-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__open .atalhos {
  display: block;
  background: var(--menu-m-open-bg);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  height: 100vh;
  width: 60vw;
  position: fixed;
  right: 0;
  animation: vem .3s ease-in both;
  padding-top: 80px;
  padding: 30px;
  padding-top: 80px;
  font-size: 22px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  z-index: 90;
  top: 0;

}

.menu__open li {
  margin-bottom: 25px;


}

.menu__open a {
  text-transform: uppercase;
  color: var(--menu-m-open-color);
  font-size: var(--menu-m-open-size);
}

/* div escura */
.fundo__black {
  transition: opacity .3s ease-in-out;
  background: black;
  opacity: 0;

}

.menu__open .fundo__black {
  z-index: 80;
  background: black;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: .05;
}



#dropdown__content-mobile {


  display: flex;
  flex-direction: column;
  gap: 5px;
  background: var(--drop-m-bg);
  border-radius: 5px;
  height: 0px;
  overflow: hidden;
  transition: .4s linear;
  padding: 0px 5px;

}

#dropdown__content-mobile a {
  color: var(--drop-m-color);
  padding: 10px;

}

.abre #dropdown__content-mobile {
  animation: heightAnimation .5s ease both;
}




/* RESPONSIVO =============== */


/* Small small devices  */
@media (max-width: 400px) {
  .menu__open .atalhos {
    width: 70vw;
  }
}


/* Small devices  */
@media (max-width: 576px) {
  .menu {
    .container {
      max-width: var(--container-small);
    }
  }
}



/* Medium devices  */
@media (max-width: 768px) {
  .menu {
    .container {
      max-width: var(--container-medium);
    }
  }
}



/* Large devices */
@media (max-width: 992px) {

  .menu__desktop {
    display: none;
  }

  .menu {

    .container {
      max-width: var(--container-large);
    }
  }

  .menu__mobile {

    display: block;
    padding: var(--menu-m-paddingY);
    background: var(--menu-m-bg);
  }





}




/* Extra large devices */
/* @media (max-width: 1200px) {} */

/* KEYFRAMES */

@keyframes opacity {
  0% {
    transform: translateY(-15%);

  }

  100% {
    transform: translateY(0);
    opacity: 1;


  }
}

@keyframes vem {
  100% {
    transform: translateX(0);

  }
}


@keyframes voltaMenu {

  0% {
    transform: translateX(0);

  }

  100% {
    transform: translateX(100%);
  }

}

@keyframes heightAnimation {
  0% {
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0);
  }

  100% {
    height: 100%;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);

  }
}



// .menu__logo img {
//   transition: transform .4s ease-out;
// }

// &.ativo__scroll {
//   .menu {
//     padding: 15px !important;
//     // height: 70px !important;

//   }

//   .menu__logo img {
//     // transform: scale(.9) !important;
//     height: 50px;
//   }
// }

// .menu__desktop {

//  

// }



.cart {
  position: relative;



  .hoverCart__wrapper {
    // display: none;
    background: #ffff;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 60px;
    min-width: 280px;
    align-items: center;
    border-radius: 4px;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.15);
    ////
    pointer-events: none;
    visibility: hidden;
    transform: scale(.9) translateY(-20px);
    transition: opacity .3s ease, transform .3s ease;
    transform-origin: top right;



    .hoverCart__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 15px 20px;
      margin-bottom: 10px;

      .hoverCart__img {
        img {
          object-fit: cover;
          @include center;
        }
      }

      .hoverCart__text {
        display: flex;
        flex-direction: column;

        h2 {
          font-size: rem(22);
        }

        span {
          padding-top: 8px;
          font-size: rem(14);
          color: $cor-laranja-3;
        }
      }
    }

    a {
      color: $cor-laranja-2;
      font-weight: bold;
      width: 100%;
      text-align: center;
      position: relative;
      height: 70px;
      display: grid;
      place-items: center;
      padding-top: 20px;
      padding-bottom: 20px;
      transition: background .3s ease, color .3s ease;

      &:hover {
        background: $cor-laranja;
        color: white;

        &:before {
          opacity: 0;
        }
      }


      &:before {
        content: "";
        display: block;
        width: 80%;
        height: 1px;
        background: $cor-cinza-1;
        margin-bottom: 10px;
        position: absolute;
        top: 5px;
      }
    }


  }
}


.popup__open {

  .hoverCart__wrapper {
    // display: block !important;
    transform: scale(1) translateY(0);
    pointer-events: all;
    visibility: visible;
    opacity: 1;
  }
}